body {
    background-image: url("bg.jpg");
}

.menu-list {
    display: flex;
    flex: 0 1 auto;
    flex-direction: row;
    justify-content: space-between;
    padding: 10%;
    justify-content: center;
    align-items: center;
}

.menu-item {
    list-style-type: none;
    margin: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 100;
}

.menu-title {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
    font-weight: 100;
    background-color: whitesmoke 0.5;
}

@media all and (max-width: 700px) {
    .menu-list{
        flex-direction: column;
    }
}